@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
}

.sidebar-container {
  width: 14%;
  overflow-y: scroll;
  background-color: #ffffff;
  color: #fff;
  height: 100vh;
}

.sidebar-content {
  padding: 1em 0.5em 1em 5.5em;
}

.sidebar-item {
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 13px;
  color: #000000;
}

#x-svg {
  width: 25px;
  height: 25px;
}

#x-tweet-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2ba3ed;
  background-color: #2ba3ed;
  padding: 8px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #ffffff;
  font-size: 20px;
}

.ri-add-line {
  font-size: 12px;
}

#account-circle-line {
  font-size: 35px;
  color: #646e76;
}

.sidebar-content-ii {
  padding: 0 1.5em 1em 5em;
}

.main-content-container {
  width: 48%;
  flex-grow: 1;
  background-color: #ffffff;
  border-right: 1px solid #dadce0;
}

/* .main-content-scroll {
    height: 100%;
    overflow-y: scroll; 
} */

.main-content-navbar {
  font-family: "Libre Franklin", sans-serif;
  height: 20vh;
  border-bottom: 1px solid #dadce0;
  padding: 1em 1em 0 1em;
}

.nav-home-text {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #0f1419;
  margin-bottom: 30px;
}

.nav-two-head-options {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 12px;
  color: #536471;
}

.feed-option {
  transition: all 0.3s ease;
}

.feed-option:hover {
  color: #0f1419;
  font-weight: 800;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #2ba3ed;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 15px;
  transform: scale(1);
}

.whats-happening-container {
  display: flex;
  gap: 10px;
  padding: 0.5em 1em;
  border-bottom: 1px solid #dadce0;
}

.w-h-account-circle {
  margin-top: 5px;
}

.audience-selection-container {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid #aeb0b4;
  border-radius: 20px;
  padding: 1px 7px;
  width: fit-content;
  color: #2ba3ed;
}

.bold-blue-text {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #2ba3ed;
}

.ri-earth-fill {
  font-size: 13px;
  color: #2ba3ed;
}

.globe-and-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.x-axis-line {
  width: 100%;
  height: 0.5px;
  background-color: #dadce0;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#post-desk {
  border: none;
}

#post-desk::placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#post-desk:focus {
  outline: none;
}

.icons-post-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-btn {
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #2ba3ed;
  border: 1px solid #2ba3ed;
  border-radius: 20px;
}

.post-icon-wrapper {
  display: flex;
  gap: 10px;
}

.post-icon-wrapper > span {
  cursor: pointer;
  font-size: 16px;
  color: #2ba3ed;
}

.unseen-post {
  cursor: pointer;
  color: #2ba3ed;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #dadce0;
}

.full-post-container {
  padding: 0.5em 1em;
  border-bottom: 1px solid #dadce0;
}

.x-dp-wrapper {
  width: 35px;
  height: 7vh;
}

.x-dp {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}


.user-handle-container {
    display: flex;
    gap: 10px;
}

.acct-option-holder {
    padding-top: 4px;
    /* display: grid;
    grid-template-columns: auto 1fr; */
    display: flex;
    /* justify-content: space-between; */
    gap: 160px;
}

/* .tweet-opt-icon {
    text-align: end;
} */

.user-acct-details {
    display: flex;
    gap: 3px;
}

.user-display-name {
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    color: #0f1419;
}
.bx {
    cursor: pointer;
}

.bxs-badge-check  {
    color: #2ba3ed;
}

.usernamne {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: #536471;
}

.post-time {
    font-weight: 400;
    font-size: 12px;
    color: #536471;
}

.tweeted-post {
    cursor: pointer;
    font-size: 14px;
    color: #0f1419;
    margin-bottom: 10px;
}

.tweet-post-like-comm-share-container { 
    margin: 0 10px 10px 45px;
}

.tweet-like-comm-share {
    display: flex;
    justify-content: space-between;
    color: #536471;
}

.individial-icon-numb-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 300;
}

.post-icon {
    cursor: pointer;
}

.post-numb {
    font-size: 12px;
    cursor: pointer;
}

#share-icon {
    cursor: pointer;
}

.tweet-img-container {
    width: 29em;
    height: 80vh;
}

.tweet-image {
    border-radius: 18px;
    width: 100%;
    height: 100%;
}




.right-sidebar {
  width: 38%;
  /* background-color: transparent; */
  background-color: #ffffff;
  color: #fff;
}

/* font-family: 'Libre Franklin', sans-serif; */
/* #dadce0 */