@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #eaf0f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overall {
  padding: 1em 3em 0.5em 1.5em;
  width: 45%;
  background-color: #ffffff;
  display: flex;
  gap: 30px;
  border-radius: 10px;
}

.exit-icon {
    font-size: 20px;
    cursor: pointer;
}

.date-of-birth {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.two-spans {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
}

.step-span {
  font-size: 15px;
  margin-bottom: 15px;
}

.create-span {
  font-size: 25px;
  margin-bottom: 15px;
}

.form-class {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 28em;
  height: 40px;
  padding-left: 5px;
  border: 1px solid #dadce0;
  outline-color: #2ba3ed;
  border-radius: 6px;
}

.sign-up-note-text {
  font-family: "Poppins", sans-serif;
  color: #536471;
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 10px;
}

.dob-sel-div {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  /* padding: ; */
  /* justify-content: space-between; */
}

.select {
    padding: 4px 8px 20px 8px;
    display: flex;
    border: 1.5px solid #000000;
    border-radius: 5px;
}

.select:focus {
    outline-color: #2ba3ed;
}

.sele-poin {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.sign-up-submit-btn {
    cursor: pointer;
    border-radius: 25px;
    padding: 8px 18px;
    color: #ffffff;
    background-color: #6c6d6d;
    border: 1px solid #6c6d6d;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 30px;
    width: 90%;
}



/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Noto Sans SC', sans-serif; */
/* font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
