@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #eaf0f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.both-err-msg {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.errMsg {
  display: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 24em;
  color: red;
  font-size: 10px;
  font-weight: 500;
}

#sucMsg {
  /* display: none; */
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 24em;
  color: green;
  font-size: 10px;
  font-weight: 500;
}

.top-bar {
  display: flex;
  gap: 200px;
  width: 100%;
  padding: 0.2em 0 1em 0;
  position: sticky;
  top: 0;
  /* filter: opacity(1); */
  /* opacity: 100%; */
}

.sign-in-overall-page {
  padding: 0.5em 3em 0.5em 1.5em;
  width: 45%;
  background-color: #ffffff;
  border-radius: 10px;
}

.exit-icon {
  font-size: 20px;
  cursor: pointer;
}

.sign-in-x-logo-div {
  width: 25px;
  height: 5vh;
}

.sign-in-x-logo {
  width: 100%;
  height: 100%;
}

.sign-in-x-text {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}

.welcome-page-btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 18em;
  padding: 6px 23px;
  border: 1px solid #dadce0;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  background-color: transparent;
}

#next-btn {
    color: #ffffff;
    background-color: #000000;
}

.or-txt {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-btn {
    color: #3c4043;
    font-size: 13px;
}

#google-btn:hover {
    background-color: #eef5f9;
    transition: all 0.3s ease-in-out ;
}

#apple-btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 600;
}

.or-and-x-axis-line {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.x-axis-line {
  width: 65%;
  height: 1px;
  background-color: #dadce0;
  display: flex;
  align-items: center;
}

.sign-in-form-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 0 120px;
  margin-bottom: 20px;
}

.sign-in-form-sec-ii {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 17em;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #dadce0;
    outline-color: #2ba3ed;
    border-radius: 3px;
  }

  .last-sign-in-text {
    display: flex;
    gap: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #536471;
    margin-bottom: 25px; 
    padding: 0 0 0 120px;
  }

  .blue-span-text {
    color: #2ba3ed;
}
